@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Explicit variable for dark background */
  --color-gray-950: #030712;
}

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-gray-50 text-gray-900;
}

.dark body {
  @apply text-gray-100;
  background-color: var(--color-gray-950);
}
